<div class="card border" style="width: 18rem;">
  <div class="card-header username bg-gray text-muted">
    <%= message.user.nickname%>
  </div>
  <div class="card-body bg-light">
    <%= message.content %>
  </div>
</div>